<div *ngIf="group">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Miembros</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let member of group.members | acceptedMembers:'accepted'" >
            <h2 mat-line>{{ member.player.name }}</h2>        
            <p mat-line> {{member.status}} </p>    
          </mat-list-item>
          <mat-list-item role="listitem" *ngFor="let member of group.members | acceptedMembers:'pending'" >
            <h2 mat-line>{{ member.player.name }}</h2>
            <p mat-line> {{member.status}} </p>    
            <button mat-raised-button color="primary" (click)="acceptMember(member)">
                Aceptar
              </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>    
</div>